[submodule "demo/ESMediaPlayerDemo"]
	path = demo/ESMediaPlayerDemo
url=git@github.com:ElfSundae/ESMediaPlayerDemo.git
[submodule "demo/FFmpegAudioTest"]
	path = demo/FFmpegAudioTest
url=git@github.com:ElfSundae/FFmpegAudioTest.git
