[submodule "demo/ESMediaPlayerDemo"]
	path = demo/ESMediaPlayerDemo
url=https://github.com/ElfSundae/ESMediaPlayerDemo.git
[submodule "demo/FFmpegAudioTest"]
	path = demo/FFmpegAudioTest
url=https://github.com/ElfSundae/FFmpegAudioTest.git
